body {
    background: #0f172a;
    font-family: Arial, sans-serif;
    color: white;
}

.container {
    width: 400px;
    margin: 100px auto;
    text-align: center;
    padding: 20px;
    background: #1e293b;
    border-radius: 10px;
}

input {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px 20px;
    background: #38bdf8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

img {
    margin-top: 20px;
    width: 200px;
}
